version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: laravel_backend
    volumes:
      - ./backend:/var/www
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
    container_name: react_frontend

  nginx:
    image: nginx:alpine
    container_name: nginx_server
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/dist:/usr/share/nginx/html
      - ./backend/storage:/var/www/storage
    depends_on:
      - frontend
      - backend

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: