version: "3.9"

services:
  backend:
    build:
      context: ./server
    container_name: laravel_backend
    volumes:
      - ./server:/var/www
    depends_on:
      - db

  backend_nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - ./server:/var/www
      - ./server/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  frontend:
    build:
      context: ./client
    container_name: react_frontend
    ports:
      - "3000:80"




  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
