version: "3.9"

services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
    restart: always

  backend:
    build:
      context: ./server
    environment:
      APP_ENV: production
      APP_DEBUG: "false"
    restart: always

  backend_nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./server/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    restart: always

  db:
    env_file:
      - .env.prod
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    restart: always

volumes:
  db_data:
#run it with : docker compose -f docker-compose.prod.yml up --build -d
