version: "3.9"

services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm run dev

  backend:
    build:
      context: ./server
    volumes:
      - ./server:/var/www
    environment:
      APP_ENV: local
      APP_DEBUG: "true"

  backend_nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./server:/var/www
      - ./server/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
# run it with: docker compose -f docker-compose.dev.yml up --build

